<div id='title'>
	<%= @title%>
</div>
<div id='links'>
	<%= link_to '主页', root_path%> / <%= link_to '博客', bloglist_index_path%> / <%= link_to '作品', works_index_path%> / <%= link_to '照片', picture_index_path%> / <%= link_to '关于我', aboutme_index_path%>
</div>