<!DOCTYPE html>
<html>
  <head>
    <title><%= @title%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <%= yield %>
		<div id='footer-line'></div>
		<div id='footer'>
			<a href='#'>home</a>   <a href='#'>rss</a>  <a href='#'>twitter</a>
		</div>
  </body>
</html>
