<!DOCTYPE html>
<html>
  <head>
    <title><%= @title%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <%= yield %>
	  <div id="footer">
	  	Copyright © 2016 - haruki29 - Powered by <%= link_to 'Ruby On Rails'%>
	  </div>
  </body>
</html>
